*{
    padding: 0;
    margin: 0;
    
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.menu li {
    float: LEFT;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111111;
}

#main{
    position:relative;
    padding: 2px;
    
}

#submain1{
   position: relative;
    padding:5px;
    
    
}
#submain2{
    position: a;
    padding:5px;
    
}
.topic{
    border: 1px solid blue;  
    float: left;
    height: 200px;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Monoton', cursive;
    position:relative;
}

.footer {
    background-color: #000000;
    
    clear: both;
}